.head {
    width: 1905px;
    height: 58px;
    background-color:skyblue;
    color: whitesmoke;
    display: flex;
    align-items: center;
}
.head1 {
    margin-left: 540px;
}
.head2 {
    margin-left: 300px;
}
.head3 {
    margin-left: 50px;
}
.head4 {
    margin-left: 50px;
}
.citytemp {
    width: 845px;
    height: 58px;
    /* background-color:purple; */
    color: black;
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    margin-left: 540px;
}
.city2 {
    margin-left: 480px;
    margin-right: 40px;
}
#city3 {
    width: 40px;
    height: 30px;
}
.container {
    width: 845px;
    height: 400px;
    margin-left: 540px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.today, .tomorrow, .friday, .saturday {
    width: 190px;
    height: 350px;
    background-color: gray;
}
.today, .tomorrow, .friday, .saturday {
    text-align: center;
}
.hilow1 {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
}
.hi {
    margin-left: 20px;
    color: maroon;
}
.low {
    margin-right: 20px;
    color:mediumblue;
}
#rain, #cloud, #sun {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.cookie {
    position: fixed;
    width: 839px;
    height: 120px;
    margin-left: 540px;
    background-color: gray;
    border: 3px solid black;
}
.stopcookie {
    margin-left: 120px;
    margin-top: 10px;
    font-size: 1.5rem;
}
.cookiesplain {
    width: 839px;
    height: 80px;
    display: flex;
    align-items: center;
    /* background-color: maroon; */
}
#cookie1 {
    width: 90px;
    height: 90px;
    margin-left: 10px;
}
#cookie2 {
    width: 540px;
    height: 80px;
    margin-left: 20px;
    /* background-color: blueviolet; */
}
#cookie3 {
    width: 550px;
    height: 80px;
    margin-left: 20px;
    text-decoration: underline;
    color: royalblue;
}
#cookie-btn {
    width: 100px;
    height: 30px;
    margin-left: 50px;
    background-color: lightskyblue;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px black;
}